@addTagHelper *, Captcha.Core
@model ReportInputDto
@{
    ViewData["Title"] = "Report";
}
<h2>File administrative report</h2>
<p>You are trying to file an administrative report. Please verify the correctness of the following information before
    you continue:</p>
@if (Model.WarnUserMismatch)
{
    <div class="notice">WARNING! The link you clicked was for @Model.UserName, while you are currently logged in as
    @(User?.Identity?.Name) - is this correct?</div>
}
<form asp-action="report" asp-route-userhint="@Model.UserName" asp-route-topic="@Model.TopicCode">
    <div class="inputfield-row">
        <h3>Topic: @Model.Topic</h3>
    </div>
    <div class="inputfield-row">
        <p>Report on behalf of: <em>@Model.UserName</em></p>
    </div>
    <div class="inputfield-row">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" cols="40" rows="10"></textarea>
    </div>
    <div class="inputfield-row">
        <dnt-captcha asp-captcha-generator-max="30" asp-captcha-generator-min="1"
            asp-captcha-generator-language="English" asp-captcha-generator-display-mode="NumberToWord"
            asp-use-relative-urls="true" asp-placeholder="Security code as a number"
            asp-validation-error-message="Please enter the security code as a number." asp-font-name="Tahoma"
            asp-font-size="20" asp-fore-color="#333333" asp-back-color="#FCF6F5FF" asp-text-box-template="{0}"
            asp-validation-message-class="validation-error" asp-refresh-button-class="bi-arrow-counterclockwise btn-lg"
            asp-show-refresh-button="true" asp-dir="ltr" />
    </div>
    <div class="inputfield-row">
        <button tpe="submit">Report now</button>
    </div>
</form>